# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.idea/codeStyles/codeStyleConfig.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dobrabochka_bot.iml
.idea/dobrabochka.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
/.idea
